{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h2 class="mb-4">Acciones rápidas</h2>
<div class="row row-cols-2 g-3">
  <div class="col">
    <a href="pedidos/nuevo" class="text-decoration-none">
      <div class="card-dark text-center shadow-sm card-action">
        <div class="card-body">
          <i class="bi bi-plus-circle display-6"></i>
          <p class="small">Nuevo Pedido</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/entregas" class="text-decoration-none">
      <div class="card-dark text-center shadow-sm card-action">
        <div class="card-body">
          <i class="bi bi-clipboard-check display-6"></i>
          <p class="small">Entregas Pendientes</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="/pagos" class="text-decoration-none">
      <div class="card-dark text-center shadow-sm card-action">
        <div class="card-body">
          <i class="bi bi-cash-stack display-6"></i>
          <p class="small">Registrar Pago</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
