{% extends "base.html" %}
{% block title %}Nuevo Producto{% endblock %}

{% block content %}
<h1 class="mb-4">Alta de Producto</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div>
  {% for category, message in messages %}
  <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('productos.nuevo') }}">
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción*</label>
    <input type="text" class="form-control" name="descripcion" value="{{ descripcion|default('') }}" required>
  </div>
  <div class="mb-3">
    <label>Unidad Base:</label>
    <select name="unidad_base" required class="form-select">
      <option value="">Seleccionar unidad</option>
      <option value="kg">kg</option>
      <option value="Cajon">Cajon</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio*</label>
    <input type="number" step="0.01" class="form-control" name="precio" value="{{ precio|default('') }}" required>
  </div>
  <button type="submit" class="btn btn-success">Guardar Producto</button>
</form>
{% endblock %}